[submodule "Attitude"]
	path = deps/Attitude
	url = git://github.com/davenquinn/Attitude.git
[submodule "deps/subdivide"]
	path = deps/subdivide
	url = git://github.com/davenquinn/subdivide.git
[submodule "deps/pdf-printer"]
	path = deps/pdf-printer
	url = git://github.com/davenquinn/pdf-printer.git
