[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
attitude = {editable = true,path = "./deps/Attitude"}

[packages]
numpy = "*"
pandas = "*"
fiona = "*"
pyarrow = "*"
subdivide = "*"
xlrd = "*"
ipython = "*"
mplstereonet = "*"
spectra = "*"

[requires]
python_version = "3.7"
