body
  color black

svg.stereonet
  fill white

div.plots
  width: 340px*5
  display flex
  flex-flow row wrap

div.sol-plot
  width: 340px
  h2
    margin 0
    margin-left 20px
    margin-bottom -18px
    font-family: "Helvetica Neue", Helvetica, sans-serif
    font-size 1.1em
    color #888

path.error
  stroke-width 1px
  stroke rgba(80,80,80,0.6)//rgba(0,197,255,0.6)
  mix-blend-mode soft-light
